.post {
    background: #ffffff;
    margin-bottom: 50px;
    padding: 30px;
    -webkit-box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
    -moz-box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
    box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
}